body{
    background-image: url("jpg/background.jpg");
}

h2{   
    font-weight: bold;
}

h4{
    text-align: center;
    font-weight: bold;
    color: darkblue;
    margin: 0;
}


.przyciski{
    display: flex;
    justify-content: center;
}
.center{
    display: flex;
    justify-content: center;
        }
img:hover{
    transform: scale(1.02);
    opacity: 0.9;
}
.visits{
    clear: both;
}