body{
    background-image: url("jpg/background.jpg");
}
.banner{
    height: 450px;
    background-position: center;
    background-repeat: no-repeat;
}
.bg1{
    background-image: url("jpg/banner.jpg");
}
.bg2{
    background-image: url("jpg/kierownica.jpeg");
}
.bg3{
    background-image: url("jpg/chwytak.jpeg");
}
.banner > img{
    top: 30px;
    height: 15%
}
.mainbar{
    background-color: aliceblue;
    border-radius: 10%;
    height: 15%;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    top: 30px;
}
.mainbar > a{

}
h2{   
    font-weight: bold;
}

h4{
    text-align: center;
    font-weight: bold;
    color: darkblue;
    margin: 0;
}

.footer{
    background-image: url(jpg/background-footer.jpg);
    color: white;
    clear: both;
    width: 100%;
    height: 100px;
}
.przyciski{
    display: flex;
    justify-content: center;
}
.center{
            display: flex;
            justify-content: center;
        }
img:hover{
    transform: scale(1.02);
    opacity: 0.9;
}
.visits{
    clear: both;
}